* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
}

.banner_text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}
.top_banner {
  background-image: url("./images/banner.png");
  background-color: #4fb3d4;
  background-size: 300px;
}

/* navbar  */

/* header */

.header_section {
  display: flex;
}
.left_section {
  margin-top: 120px;
}
.left_section h1 {
  font-size: 55px;
}
.left_section p {
  font-size: larger;
  margin-top: 20px;
}
.right_section img {
  height: 500px;
}
.btn_primary {
  padding: 12px 24px;
  background-color: #4fb3d4;
  color: white;
  text-decoration: none;
  border-radius: 2px solid black;
  margin-top: 30px;
}

/* img  */
.section {
  margin-top: 20px;
}
.container {
  width: 1200px;
  margin: auto;
}
.preg {
  text-align: center;
  font-size: 35px;
}
.img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 20px; */
}
/* card  */
.card {
  width: 1200px;
  margin: auto;
}

.cards {
  margin-top: 20px;
}
.button {
  text-decoration: none;
  border: 2px solid black;
  padding: 8px 24px;
  color: black;
  border-radius: 2px solid;
}
.card_contant {
  text-align: center;
  font-size: 25px;
}
.card_img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.contant-1 {
}
.card_img h1 {
  font-size: 40px;
  margin-top: 10px;
}
.card_img p {
  font-size: larger;
  margin-top: 10px;
}
.btn {
  text-decoration: none;
  border: 2px solid black;
  padding: 8px 24px;
  color: black;
  border-radius: 2px solid;
}
